$linear-gradient: linear-gradient(to right bottom, #FBDB89, #F48982)
    
.main
  font-family: 'Nunito Sans', sans-serif
  background-image: $linear-gradient    
  position: absolute
  min-width: 100vw
  min-width: 100vh