<app-navbar></app-navbar>

<div class="main">
    <div class="containerMod row">
        <div class="col-md-3 btnSpace">
            <button class="btn btn-outline-info text-uppercase">Atras</button>
        </div>

        <div class="col-md-6 middleClm">

            <div class="gridPizza"></div>

            <div class="gridTable">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-uppercase">
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>$$$$</td>
                        </tr>
                        <tr>
                            <td>TEST</td>
                            <td>TEST</td>
                            <td>$$$$</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr class="styleHR">

            <div class="row">
                <div class="col-md text-uppercase"><strong>Subtotal :</strong></div>
                <div class="col-md-8"></div>
                <div class="col-md">$$$$</div>
            </div>

            <div class="row">
                <label class="col-md promoTitle text-uppercase"><strong>Promocion :</strong></label>
                <div class="col-md-5"></div>
                <div class="col-md-5 input-group">
                    <input class="input-group-textarea" placeholder="PROMO1" type="text">
                    <span class="input-group-addon text-uppercase">Aplicar</span>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md text-uppercase"><strong>Total :</strong></div>
                <div class="col-md">$$$$</div>
            </div>
        </div>

        <div class="col-md-3 btnSpace">
            <button class="btn btn-outline-info text-uppercase">Ordenar</button>
        </div>
    </div>
</div>