<!-- <div class="container">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cartModal">
      Ver carrito
    </button>  
  </div>
   -->
  <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            Tu carrito
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Ingredientes</th>
                <th scope="col">Precio</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cart?.products">
                <td class="w-25">
                  <img [src]="product.image_url" class="img-fluid img-thumbnail" alt="Producto">
                </td>
                <td>{{ cartService.getIngredientsDescription(product) }}</td>
                <td>₡{{ cartService.getProductPrice(product) }}</td>
                <!-- <td class="qty"><input type="text" class="form-control" id="input1" value="2"></td> -->
                <td>
                    <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-primary btn-sm" routerLink="/assemble/{{product._id}}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                <td>
                  <a href="javascript:void(0)" class="btn btn-danger btn-sm" (click)="removeProduct(product)">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table> 
          <div class="d-flex justify-content-end">
            <h5>Total: <span class="price text-success">₡{{ cartService.getTotalPrice(cart) }}</span></h5>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a type="button" class="btn btn-success" data-dismiss="modal" routerLink="/order-summary">Finalizar pedido</a>
        </div>
      </div>
    </div>
  </div>