
<div class="login">

    <div class="col-md-4 offset-md-4 pt-5">
        <!-- Default form login -->
    <form class="text-center border border-light p-5"  #login="ngForm" (ngSubmit)="submit(login.value)"  >

        <a href="http://localhost:4200/" class="float-right mb-3"><i class="fa fa-times"></i></a>

        <div class="clearfix"></div>
    
        <h1 class="h4 mb-4">Iniciar Sesión</h1>
        <!-- Email -->
        <input type="email" class="form-control mb-4" placeholder="Correo Electrónico" name="email" ngModel required>

        <!-- Password -->
        <input type="password"class="form-control mb-4" placeholder="Contraseña" name="password" ngModel required>

        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Recordar</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <a href="">¿Olvido Contraseña?</a>
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-outline-light my-4 float-right" type="submit">Iniciar</button>

        <div class="clearfix"></div>

        <!-- Register -->
        <p>¿No tiene cuenta?
            <a href="http://localhost:4200/register">Registrarse</a>
        </p>
    </form>
<!-- Default form login -->
    </div>
</div>
