<div class="modal register" id="signUpModal">
    <form #register="ngForm" (ngSubmit)="submit(register.value)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Registro</h2>
          <!-- <button class="close" data-dismiss="modal">&times;</button> -->
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="username">Nombre</label>
              <input type="text" name="name" placeholder="Nombre" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="username">Teléfono</label>
              <input type="text" name="tel" placeholder="Teléfono" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="username">Correo Electrónico</label>
              <input type="text" name="email" placeholder="Correo Electrónico" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="username">Contraseña</label>
              <input type="password" name="password" placeholder="Contraseña" class="form-control" ngModel required>
            </div>
            <div class="form-group">
              <label for="password">Repetir Contraseña</label>
              <input type="password" name="password2" placeholder="Repetir Contraseña" class="form-control" ngModel required>
            </div>
        </div>
        <div class="modal-footer">
          <a href="#home" class="btn btn-outline-light mr-auto text-uppercase" disabled>Atras</a>
          <button class="btn btn-outline-light text-uppercase" type="submit">Registrarse</button>
      </div>
      </div>
    </div>
</form>
</div>