$linear-gradient: linear-gradient(to right bottom, #FBDB89, #F48982)
$text-color: #ED9A7B
$white: #FFF
    
body
  font-family: 'Nunito Sans', sans-serif
  background-image: $linear-gradient    
  position: relative

.container
    background-image: $linear-gradient    
    max-width: 1920px
    min-height: 95vh

.main
    margin-top: 5vh


.product-container 
    height: 80%
    min-height: 100%

.items-container 
    height: 100%
    min-height: 100%

.mount
    position: absolute


.scrollable
    overflow-y: auto
    height: 35vh

.btn-secondary, .btn-outline-secondary
    font-size: 18px

.label-title
    font-size: 18px
    text-transform: uppercase
    text-align: center
    color: $text-color
    width: 100%

hr
    hborder: none
    height: 1px
    /* Set the hr color */
    color: #6C757D
    background-color: #6C757D

select
    width: 60%
    margin: 0 auto

.card
    border: none

.card-title 
    text-transform: uppercase
    color: $text-color
    font-size: 18px

.card-text
    font-weight: lighter
    font-size: 16px

.btn-outline-info
    border-color: $text-color
    color: $text-color
    width: 90%

.btn-outline-info:hover
    background-color: $text-color
    color: $white

.btn-danger
    background-color: $text-color
    color: $white
    border: $text-color
    width: 90%

.btn-outline-light
    width: 20%

.btn-outline-light:hover
    color: $text-color
    background-color: $white

.btn-primary 
    background-color: $white
    color: $text-color
    border-color: $white
    width: 20%

.btn-primary:hover
    background-color: none

.price
    color: $white
    font-weight: bold
    font-size: 30px
    





