<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-pizza-slice"></i>
        </div>
        <div class="sidebar-brand-text mx-3">PizzApp</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" 
    [ngClass]="{'active': isActive('/')}">
        <a class="nav-link" routerLink="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Administrar
    </div>

    <li class="nav-item" 
    [ngClass]="{'active': isActive('/users')}">
        <a class="nav-link" routerLink="/admin/users">
            <i class="fas fa-fw fa-users"></i>
            <span>Usuarios</span></a>
    </li>

    <li class="nav-item"
    [ngClass]="{'active': isActive('/ingredients')}">
        <a class="nav-link" routerLink="/admin/ingredients">
            <i class="fas fa-fw fa-receipt"></i>
            <span>Ingredientes</span></a>
    </li>

    <li class="nav-item"
    [ngClass]="{'active': isActive('/products')}">
        <a class="nav-link" routerLink="/admin/products">
            <i class="fas fa-fw fa-pizza-slice"></i>
            <span>Productos</span></a>
    </li>

    <li class="nav-item"
    [ngClass]="{'active': isActive('/orders')}">
        <a class="nav-link" routerLink="/admin/orders">
            <i class="fas fa-fw fa-file-invoice-dollar"></i>
            <span>Ordenes</span></a>
    </li>

    <li class="nav-item"
    [ngClass]="{'active': isActive('/promos')}">
        <a class="nav-link" routerLink="/admin/promos">
            <i class="fas fa-fw fa-tag"></i>
            <span>Promociones</span></a>
    </li>
    
</ul>